*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}
:root{
	--bg-color: #fff;
	--text-color: #221314;
	--second-color:#933C24;
	--thired-color:#E9BD8C ; 
	--fourthed-color : #5D5D5D ; 
	--main-color: #000000;
	--big-font: 6rem;
	--h2-font: 4rem;
	--h2-font-family : 'Sansita Swashed', cursive; 
	--font-family-second : 'Sansita Swashed', cursive; 
	--h2-font-color :var(--text-color);
	--p-font: 1.1rem;
}
body{
	background: var(--bg-color);
	color: var(--text-color);
}

header{
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	padding: 20px 10%;
	transition: ease .40s;
    border: medium dashed rgb(128, 0, 34);
}
.logo {
	height: 72px;
	width: 72px;
    border: medium dashed green;
}
.navbar{
	display: flex;
	padding-left: 140px;
    border: medium dashed rgb(63, 30, 172);
}
.navbar a{
	color: var(--bg-color);
	font-size: 24px;
	font-weight: 500;
	padding: 10px 22px;
	border-radius: 4px;
	transition: ease .40s;
}
.navbar a:hover{
	background-color:var(--thired-color);
	color: var(--text-color);
	box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
	border-radius: 4px;
}
#menu-icon{
	color: var(--bg-color);
	font-size: 35px;
	z-index: 10001;
	cursor: pointer;
	display: none;
}


/* s > second-color */
.p-small-s-color{
	color:var(--thired-color); 
	font-size: 18px;
}
/* s > second-color */
.p-small-B-color{
	color:var(--bg-color); 
	font-size: 18px;
}
.text-basic-center{
	font-family:var(--font-family-second);
	font-size: 24px;
	text-align: center;
	margin-top: 10px;
	margin-bottom:10px ;
	padding: 5px;
	line-height: 1.6;
}
.text-basic-justify{
	font-family:var(--font-family-second);
	font-size: 24px;
	margin-top: 10px;
	margin-bottom:10px ;
	padding: 5px 5px;
	line-height: 44px;
    text-align: justify;
	font-weight: normal;
}

/*******************************************/
section{
	padding: 80px 10%;
    border: medium dashed rgb(128, 0, 2);
}
.home{
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(../img/background.png);
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	align-items: center;
	border: medium dashed rgb(63, 30, 172);
}
.home2{
	position: relative;
	width: 100%;
	height: 25vh;
	background: url(../img/background.png);
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	align-items: center;
	border: medium dashed rgb(63, 30, 172);
}

.home-text h1{
	font-size: 74px;
	line-height: 1.2;
	color: var(--bg-color);
	font-family: 'Sansita Swashed', cursive;
    font-weight: 400; /* Regular *//**/
	letter-spacing: 4px;
	margin-bottom: 100px;
}

.home-text p{
	font-size: 24px;
	line-height: 1.2;
	color:var(--thired-color);
	font-weight: 600;  /* Semi Bold */
	font-family: 'Inter', sans-serif;/**/
	letter-spacing: 4px;
	margin-bottom: 10px;
}
.home-btn{
	display: inline-block;
	background:var(--second-color);
	color: var(--bg-color);
	font-family: 'Inter', sans-serif;/**/
	border-radius: 4px;
	padding: 10px 10px;
	font-size: 1rem;
	transition: ease .40s;
}
.home-text .home-btn {
	padding: 15px 30px;
	font-size: 24px;
	font-weight: 600;  /* Semi Bold */
     }

.home-btn:hover{
	background: var(--bg-color);
	transform: scale(1.1);
}


.home-link
{	display: inline-block;
	font-size: 24px;
	padding: 15px 30px;
	color:var(--thired-color);
	font-family: 'Inter', sans-serif;/**/
	border-radius: 4px;
	transition: ease .40s;}




header.sticky{
	background: var(--bg-color);
	/*padding: 10px 18%;*/
	box-shadow: rgba(33,35,38, 0.1) 0px 10px 10px -10px;
}
.sticky .logo{
	color: var(--text-color);
}
.sticky .navbar a{
	color: var(--text-color);
} 

.background-menu-small{
	width: 100%;
	background-size: cover;
}



h1{
	font-size: 74px;
	line-height: 1.2;
	font-family: 'Sansita Swashed', cursive;
    font-weight: 400; /* Regular *//**/
	letter-spacing: 4px;
	margin-bottom: 100px;


}


h2 {
	text-align: center;
	line-height: 1.2;
	font-size: var(--h2-font);
	font-family: var(--h2-font-family);
	color: var(--h2-font-color);
}





.row-items{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	grid-gap: 1.5rem;
	align-items: center;
	text-align: center;
	justify-content: center;
	margin-top: 5rem;
	border: medium dashed rgb(128, 0, 2);
	
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes fixes */
    grid-gap: 10px; /* Espace entre les images */
	
	
  
}

.photo-grid img {
    width: 100; /* Les images prennent toute la largeur de leur cellule */
    height: auto; /* Conserve les proportions des images */
    object-fit: cover; /* Assure que l'image remplit bien sa cellule sans être déformée */
	position: relative; /* Position relative pour permettre le déplacement avec margin */
    margin-top: -10px;
	border: medium dashed rgb(128, 0, 2);
}



.row-items-start{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	align-items: start;
	text-align:start;
	justify-content: start;


}

/*************************************************    contenu menu  ***********************/
.container {
	display: flex;
	align-items: start;          /* Centre verticalement */
	justify-content: space-between; /* Laisse de l'espace entre le texte et l'image */
	padding: 20px;
	gap: 20px;                    /* Espace entre le texte et l'image */
	border: medium dashed rgb(30, 0, 128);
 
}

.container img {
	width: 50%;                   /* L'image occupe 50% de la largeur */
	height: 700px;                 /* L'image occupe 90% de la hauteur de l'écran */
	object-fit: contain;             /* Assure que l'image remplit bien son espace sans être déformée */
}
.container .text {
	width: 50%;                   /* Le texte occupe 50% de la largeur */
	padding: 0 20px;
	text-align: center;             /* Aligne le texte à gauche */
}






.container-box {
	height:410px ;
	width: 360px;
    background: url(../img/bgproduct.png);
    background-repeat: no-repeat; 
    background-size: cover; 
    border: 1px solid #f0eded;
    padding: 50px 10px;
    border-radius: 4px;
    transition: all 1s ease 0s;
    cursor: pointer;
}

.container-img img{
	/*height: 226px;
	width: 223px;
	padding: 15px;
	margin-bottom: 15px;*/
	cursor: pointer;
}



.container-img-bkg{
	display: block;
	justify-content: center;
	align-items: center ;
	background: url(../img/board.png);
	height: 530px;
	width: 460px;
	color : var(--bg-color)

}

.flex-container-row {
    display: flex;
    flex-wrap: wrap;
	flex-direction: row;
    justify-content: space-between;
    align-content: space-between;  
	border: medium dashed rgb(128, 0, 2);
}

.flex-item {
    display: flex;
	color: #fff;
	font-size: 24;
	font-weight: 600;
	border: medium dashed rgb(36, 128, 0);
}



/***************************   nav bar 2   menu */

.second-navbar{
	display: flex;
	width: 100%;
    border: medium dashed rgb(63, 30, 172);
	justify-content: space-around;
	padding: 10px 10%;
}
.second-navbar a{
	color: var(--fourthed-color) ;
	font-size: 24px;
	font-weight: 500;
	/*padding: 10px 22px;*/

	transition: ease .40s;
}
.second-navbar a:hover{
	color: var(--text-color);
	box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
	border-radius: 4px;
}

.second-navbar ul li:first-child::after {
    content: " ";
    width: 60px;
    height: 5px;
    background-color: #933C24;
    display: block;
	justify-content: center;

}


.package-content{

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
	align-items: center;
	margin-top: 5rem;
	
}


.container-box p {
	font-size: 15px;
	color: var(--second-color);
	line-height: 2;
}
.container-box:hover{
	box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
	border: 1px solid transparent;
	transform: translateY(-3px);
}
.center{
	text-align: center;
}
.title{
	text-align: center;
	line-height: 1.2;
	font-size: var(--h2-font);
	font-family: var(--h2-font-family);
	color: var(--h2-font-color);
}
.title h2{

	font-size: var(--h2-font);
	font-family: var(--h2-font-family);
	line-height: 1.1;

}



.thum{
	position: relative;
	transition: all .3s cubic-bezier(.445,.05,.55,.95);
	will-change: filter;
	cursor: pointer;
}
.thum img{
	width: 100%;
	height: auto;
}
.thum h3{
	position: absolute;
	font-size: 30px;
	font-weight: 600;
	text-align: right;
	color: var(--bg-color);
	top: 36px;
	right: 40px;
}
.dest-content{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-top: 24px;
}


.location p{
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 8px;
}
.thum:hover{
	filter: brightness(100%) hue-rotate(45deg);
	transform: scale(1.04);
}

.destination-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(340px, auto));
	grid-gap: 2rem;
	align-items: center;
	margin-top: 5rem;
}




.col-content img:hover{
	filter: brightness(100%) hue-rotate(45deg);
	transform: scale(1.04);
	cursor: pointer;
}


#sectionfooter{
	background: url(../img/footer.png);
}

/*********************** footer *****************/
.main{
	display: flex;
	flex-wrap: wrap;

}

.footer{
	padding: 20px 0;
	
	
}
.footer1{
	display: flex;
	flex-wrap: wrap;
	justify-content: start;

}
.footer1item{
	display: flex;
	width: 50%;
	flex-wrap: wrap;

	
}
.footer2item{
	display: flex;
	flex-wrap: wrap;

	
}
.list{
	width: 100%;

}
.list h4{
	font-size: 21px;
	color: var(--thired-color);
	margin-bottom: 30px;
	position: relative;
}

.list ul li:not(last-child) {
	margin-bottom: 8px;
}
.list ul li a{
	color: #fffdfdbf;
	font-size: var(--p-font);
	display: block;
	transition: .3s;
	font-size: 24px;
	font-weight: 400; 

}
.list ul li a:hover{
	color: var(--bg-color);
	transform: translateX(14px);
}
.social {
	display: flex;
	width: 50%;
	justify-content: space-between;
	align-items: center;
}
.social a{
	height: 40px;
	width: 40px;
	border-radius: 15px;
	transition: .3s;
	
}
.list .social a:hover{
	transform: scale(1.1);
}
.end-text{
	text-align: center;
	padding-top: 90px;
}
.end-text p{
	color: var(--fourthed-color) ;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 2px;
}

@media (max-width: 1400px){
	header{
		padding: 17px 3%;
		transition: .2s;
	}
	header.sticky{
		padding: 10px 3%;
		transition: .2s;
	}
	section{
		padding: 80px 3%;
		transition: .2s;
	}
	:root{
	  --big-font: 4.5rem;
	  --h2-font: 2.3rem;
	  --p-font: 1rem;
	  transition: .2s;
	}
}

@media (max-width: 1040px){
	#menu-icon{
		display: block;
	}
	.stick #menu-icon{
		color: var(--text-color);
	}
	.home{
		height: 88vh;
	}
	.navbar{
		position: absolute;
		top: 0;
		right: -100%;
		width: 270px;
		height: 120vh;
		background: #1067cc;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 150px 30px;
		transition: 0.5s all;
	}
	.navbar a{
		display: block;
		margin: 1.2rem 0;
	}
	.sticky .navbar a{
		color: var(--bg-color);
	}
	.navbar a:hover{
		color: var(--text-color);
	}
	.open{
		right: 0;
	}
	.list{
		width: 50%;
		margin-bottom: 12px;
	}
}

@media (max-width: 575px){
	.list{
		width: 100%;
	}
	.newsletter form{
		width: 350px;
	}
	:root{
	  --big-font: 3.8rem;
	  --h2-font: 1.8rem;
	  transition: .2s;
	}
	.text{
		text-align: center;
		
	}
	.home{
		height: 85vh;
		transition: .2s;
	}
}
/************************************************************   Modification ***********************************/



/*  formulaire */ 
.formContact {
    display: flex; 
    flex-direction: column; 
    align-items: stretch; 
    justify-content: start; 
	width: 880px;
	border: medium dashed rgb(36, 128, 0);
	margin :  0 auto ; 
	
}


.formContact  input {
	display: inline-block;
	width: 100%;
	height: 55px;
	border: 1px solid #333;
	border-radius: 8px;
}
.formContact   textarea{
	display: inline-block;
	width: 100%;
	padding: 4px  4px ;
	border: 1px solid #333;
	border-radius: 8px;
}


.formContact  label{
   font-family:var(--font-family-second);
   font-size: 24px;
   text-align: start;
   margin-top: 50px;
   margin-bottom:10px ;
   padding: 5px;
}


.formContact  input:last-child{
	height: 80px;
	margin-top: 50px;
	border-radius: 5px 0px 0px 5px;
	background: var(--second-color);
	color: var(--bg-color);
	cursor: pointer;
	font-size: "inter";
	font-weight: 400;
}



/************************************** article *****************************/
.checklist li {
    color:var(--second-color); 
    margin-bottom: 10px;
}


.separator {
    width: 5cm; 
    height: 6px; 
    background-color: var(--second-color); 
    border: none;
	margin: 20px auto;
	
}

.package {
    margin-top: 40px; 
}

.promo {
    width: 100%; /* Prend toute la largeur de la page */
    height: 440px; /* Hauteur fixe */
    background: url(../img/promo.png) no-repeat center center; /* Image centrée, sans répétition */
    background-size: cover; /* L'image couvre toute la div, sans déformation */
    border: #000000;
    border-style: dashed;
	text-align: center;
	margin: 0 auto;
}
.promo h4{
	font-family:var(--font-family-second);
	font-size: 48px;
	text-align: center;
	margin-top: 10px;
	margin-bottom:10px ;
	padding: 5px;
	line-height: 1.6;
	color:var(--second-color)
}
.promo p{
	font-family:"inter" ; 
	font-size: 24px;
	text-align: center;
	margin-top: 10px;
	margin-bottom:10px ;
	padding: 5px;
	line-height: 1.6;
	color:var(--fourthed-color)
}
.promo a{
	margin-top: 30px;
	border-radius: 5px 0px 0px 5px;
	background: var(--second-color);
	color: var(--bg-color);
	cursor: pointer;
	font-size: "inter";
	font-weight: 400;
}